.main {
    padding: 100px 0;
    color: var(--clr-100);
    position: relative;
    &::before, &::after {
        content: '';
        background: url('../img/decorations/grey-circle.png') center center / contain no-repeat;
        width: var(--ball-size);
        height: var(--ball-size);
        display: block;
        position: absolute;
        border-radius: 100%;
        z-index: -1;
    }
    &::before {
        --ball-size: 153px;
        left: -70px;
        top: 227px;
    }
    &::after {
        --ball-size: 80px;
        left: 50%;
        bottom: 168px;
    }
    &-grid {
        display: grid;
        grid-template-columns: 1fr 360px;
        column-gap: clamp(50px, 7vw, 120px);
    }
    &-subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2em;
        a {
            color: var(--clr-300);
            text-decoration: underline;
        }
    }
    &-text {
        margin-top: 33px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4em;
        max-width: 960px;
    }
    .reasons {
        margin-top: 44px;
        --item-icon-size: 70px;
        &-wrap {
            margin-top: 40px;
            display: grid;
            &[data-cols='1'] {
                grid-template-columns: 1fr;
            }
            &[data-cols='2'] {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 60px;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            column-gap: 30px;
            &:not(:last-child) {
                margin-bottom: 36px;
            }
            &-main {
                max-width: 605px;
            }
            &-icon {
                height: var(--item-icon-size);
                width: var(--item-icon-size);
                display: grid;
                place-content: center;
                flex-shrink: 0;
            }
            &-title {
                font-weight: 700;
                font-size: 20px;
                line-height: 1.4em;
            }
            &-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 1.4em;
            }
        }
        &-group {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            max-width: 480px;
            row-gap: 20px;
        }
    }
}

.news {
    &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2em;
    }
    &-feed {
        margin-top: 40px;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(8px);
        border-radius: 16px;
        padding: 16px 20px;
    }
    &-item {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        &-date {
            font-weight: 400;
            font-size: 14px;
            color: var(--clr-300);
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.2em;
            margin-top: 1.4em;
        }
        &-body {
            margin-top: 2em;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2em;
        }
    }
}