.function {
    background: linear-gradient(257deg, var(--clr-300) 19%, var(--clr-200) 103%);
    padding: 80px 0 100px;
    color: var(--clr-600);
    position: relative;
    &-outer {
        &[data-elem-position=top] {
            margin-top: -120px;
            padding-top: 120px;
            overflow: hidden;
            .function {
                &::after {
                    content: '';
                    background:url('../img/decorations/gradient-ball.png') center center / cover no-repeat;
                    display: block;
                    width: 415px;
                    height: 415px;
                    border-radius: 100%;
                    position: absolute;
                    top: -65px;
                    right: -97px;
                    filter: blur(20px);
                    z-index: 10;
                }
            }
        }
        &[data-elem-position=bottom] {
            margin-bottom: -280px;
            padding-bottom: 280px;
            overflow: hidden;
            .function {
                &::after {
                    content: '';
                    background:url('../img/decorations/gradient-ball.png') center center / cover no-repeat;
                    display: block;
                    width: 415px;
                    height: 415px;
                    border-radius: 100%;
                    position: absolute;
                    bottom: -232px;
                    right: -97px;
                    filter: blur(20px);
                    z-index: 10;
                }
            }
        }
        &.mt-negative {
            margin-top: -215px;
        }
    }
    
    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4em;
        text-transform: uppercase;
        &.mt-100 {
            margin-top: 70px;
        }
        &.mt-110 {
            margin-top: 60px;
        }
    }
    &-grid {
        display: grid;
        &.mt-100 {
            margin-top: 32px;
        }
        &[data-cols='4'] {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            column-gap: clamp(20px, 6vw, 45px);
            row-gap: 30px;
            max-width: 920px;
        }
        &[data-cols='2'] {
            grid-template-columns: repeat(2, minmax(280px, 1fr));
            column-gap: clamp(40px, 10vw, 90px);
            row-gap: 70px;
            max-width: 1000px;
        }
    }
    &-item {
        --icon-size: 70px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        &-icon {
            height: var(--icon-size);
            flex-shrink: 0;
        }
        &-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.4em;
            max-width: 100px;
            &--wide {
                max-width: 390px;
            }
        }
    }
}