@import '../abstracts/proximanova';

* {
    font-family: var(--ff-primary);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: 1480px) {
        padding: 0 50px;
    }
    @media (max-width: 1180px) {
        padding: 0 20px;
    }
}

body {
    background-color: var(--clr-500);
}

// section padding vertical type 1
.spv-100 {
    padding: 42px 0;
}

.card-100 {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 40px #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.d-flex {
    display: flex;
    &.ai-center {
        align-items: center;
    }
}