.plan {
    position: relative;
    z-index: 1;
    padding: 88px 0 50px;
    &-wrap {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &-item {
        max-width: 340px;
        &-head {
            background: linear-gradient(256.82deg, var(--clr-300) 0%, var(--clr-200) 94.42%);
            border-radius: 20px;
            padding: 30px 22px 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-body {
            padding: 52px 22px 40px;
            display: grid;
            grid-template-rows: minmax(110px, auto);
            grid-auto-rows: auto;
            justify-items: center;
            row-gap: 25px;
        }
        &-term {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2em;
            color: var(--clr-600);
            column-gap: 6px;
        }
        &-price {
            margin-top: 6px;
            font-family: var(--ff-secondary);
            font-weight: 700;
            font-size: 50px;
            color: var(--clr-600);
            span {
                font-weight: 400;
            }
        }
        &-text {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.15em;
            text-align: center;
            color: var(--clr-100);
            &:not(:last-child) {
                margin-bottom: 1em;
            }
            &--save {
                color: var(--clr-300);
                --icon-size: 20px;
                &::before {
                    content: '';
                    width: var(--icon-size);
                    height: var(--icon-size);
                    background: url('../img/icons/plan-economy.svg') center center / contain no-repeat;
                    display: inline-block;
                    margin-right: .4em;
                }
            }
        }
    }
}