.plan {
    position: relative;
    z-index: 1;
    padding: 88px 0 50px;
    &-wrap {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 26px;
    }
    &-item {
        // max-width: 340px;
        &-head {
            background: linear-gradient(256.82deg, var(--clr-300) 0%, var(--clr-200) 94.42%);
            border-radius: 20px;
            padding: 30px 22px 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-body {
            padding: 52px 22px 40px;
            display: grid;
            grid-template-rows: minmax(110px, auto);
            grid-auto-rows: auto;
            justify-items: center;
            row-gap: 25px;
        }
        &-term {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2em;
            color: var(--clr-600);
            column-gap: 6px;
        }
        &-price {
            margin-top: 6px;
            font-family: var(--ff-secondary);
            font-weight: 700;
            font-size: 50px;
            color: var(--clr-600);
            span {
                font-weight: 400;
            }
        }
        &-text {
            font-family: var(--ff-secondary);
            font-weight: 600;
            font-size: 20px;
            line-height: 1.15em;
            text-align: center;
            color: var(--clr-100);
            &:not(:last-child) {
                margin-bottom: 1em;
            }
            &--save {
                color: var(--clr-300);
                --icon-size: 20px;
                &::before {
                    content: '';
                    width: var(--icon-size);
                    height: var(--icon-size);
                    background: url('../img/icons/plan-economy.svg') center center / contain no-repeat;
                    display: inline-block;
                    margin-right: .4em;
                }
            }
        }
    }
    &-outer-item {
        &.first {
            position: relative;
            --grad-ball: 184px;
            &::before {
                content: '';
                background: url('../img/decorations/gradient-ball.png') center center / cover no-repeat;
                width: var(--grad-ball);
                height: var(--grad-ball);
                display: block;
                position: absolute;
                bottom: 59px;
                left: -134px;
                border-radius: 100%;
                z-index: -100;
            }
        }
        &.last {
            position: relative;
            z-index: 1;
            --star-size: 30px;
            --circle-size: 74px;
            &::after {
                width: var(--star-size);
                height: var(--star-size);
                background: url('../img/icons/blue-star-outline.svg') center center / contain no-repeat;
                top: calc(var(--circle-size) / -8);
                right: calc(var(--circle-size) / -7.5);
            }
            &::before {
                width: var(--circle-size);
                height: var(--circle-size);
                // background: url('../img/decorations/grey-circle.png') center center / contain no-repeat;
                background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(171, 193, 201, 0.4));
                top: calc(var(--circle-size) / -2.4);
                right: calc(var(--circle-size) / -2.5);
                backdrop-filter: blur(6px);
                border-radius: 100%;
                transform: rotate(32deg);
            }
            &::before, &::after {
                z-index: 2;
                content: '';
                display: block;
                position: absolute;
            }
        }
    }
}