.useful {
    padding-top: 84px;
    &-card {
        max-width: 480px;
        padding: 50px 46px 40px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        transform: scale(1);
        backface-visibility: hidden;
        transition: all .5s;
        display: grid;
        justify-items: center;
        grid-template-rows: 314px;
        grid-auto-rows: auto;
        &-title {
            margin-top: 12px;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.4em;
            text-align: center;
            -webkit-font-smoothing: subpixel-antialiased;
            color: var(--clr-100);
        }
        &-btn {
            margin-top: 26px;
        }
    }
    &-wrap {
        margin-top: 45px;
    }
    &-swiper {
        width: 100%;
    }
    &-slide {
        &:not(.useful-slide--active) {
            .useful-card {
                transform: scale(.7) translateZ(0);
            }
        }
    }
    &-pagination {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        // position: absolute;
        z-index: 20;
        inset: unset;
        // bottom: -50px !important;
        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            background: transparent;
            border: 1px solid var(--clr-300);
            &-active {
                background-color: var(--clr-300);
            }
        }
    }
    &-nav {
        position: absolute;
        top: 48%;
        transform: translateY(-50%);
        z-index: 20;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-btn {
        background: transparent;
        border: 0;
    }
    &-wrap {
        position: relative;
    }
}