@mixin InputBox {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: var(--clr-100);
    &::placeholder {
        color: #486A8B;
    }
    &:focus {
        outline: 2px solid var(--clr-100);
        background: rgba(255, 255, 255, .85);
    }
    &:hover {
        background: rgba(255, 255, 255, .87);
    }
}
    