@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
        url('../fonts/proximanova/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Extrabold'), local('ProximaNova-ExtraBold'),
        url('../fonts/proximanova/ProximaNova-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiBoldItalic'),
        url('../fonts/proximanova/ProximaNova-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Thin'), local('ProximaNova-Thin'),
        url('../fonts/proximanova/ProximaNovaThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
        url('../fonts/proximanova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackItalic'),
        url('../fonts/proximanova/ProximaNova-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldItalic'),
        url('../fonts/proximanova/ProximaNova-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinItalic'),
        url('../fonts/proximanova/ProximaNova-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('../fonts/proximanova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularItalic'),
        url('../fonts/proximanova/ProximaNova-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtraBoldItalic'),
        url('../fonts/proximanova/ProximaNova-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('../fonts/proximanova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light Italic'), local('ProximaNova-LightItalic'),
        url('../fonts/proximanova/ProximaNova-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Semibold'), local('ProximaNova-SemiBold'),
        url('../fonts/proximanova/ProximaNova-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

