:root {
    --clr-100: #0A223D;
    --clr-200: #BE264C;
    --clr-300: #0072BA;
    --clr-400: #9ADDFF;
    --clr-500: #EDF2F5;
    --clr-600: #FFFFFF;

    --ff-primary: 'Proxima Nova', sans-serif;
    --ff-secondary: 'PT Sans', sans-serif;
}